.app-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 20%;
  border-radius: 12px;
  padding-top: 16px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.image {
  height: 70px;
  width: 70px;
}
